html { }

body {
  background: #666;
  padding: 0; margin: 0;
  font-size: 22px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  overscroll-behavior: none;
}

.body--light {
  color:#1B1B1B;
}

main {
  overflow: hidden;
}

section {
  padding-bottom: 2.6em;
}

section.zero-bottom {
  padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

h4, h5, h6 {
  margin-top: .85em;
}

a {
    color: #FFE000;
    transition: color .25s;
}

a:focus {
  color: #FFF;
}

a:hover {
    color: #60FF00;
}

a.dark {
    color: #246AFF;
    transition: color .25s;
}

a.dark:hover {
    color: #4581FF;
    transition: color .25s;
}

li.dark {
    color: #246AFF;
    transition: color .25s;
}

.button {
  color: #FFF;
  display:inline-block;
	border-radius:24px;
	cursor:pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: .85em;
  text-transform: uppercase;
  text-decoration:none;
  text-align: center;
  letter-spacing: 0;
  line-height: 36px;
	padding:.85em;
  width: 100%;
  margin-top: 1em;
  transition: background .25s;
}

.button:hover {
  color: #FFF;
  transition: background .25s;
}

.button--work {
  background: #3ACFE8;
}

.button--work:hover, .button--work:active, .button--work:focus {
  background: #29D84C;
}

.button--contact {
  background: #000;
}

.button--contact:hover, .button--contact:active, .button--contact:focus {
  background: #ED1E79;
}

.button--lite {
  font-size:1rem;
  font-weight:900;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
}

.button--text {
  font-size:1rem;
  font-weight:900;
  margin: 2rem 0;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
}

.button--next {
  font-size:1rem;
  font-weight:900;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
  color:#D81159;
  float: right;
  margin:100px 0 40px 0;
}

.button--next img {
  margin:0 16px
}

.button--outline {
  border: 2px solid #FFF;
  display:inline-block;
	border-radius:48px;
	cursor:pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: .85em;
  text-transform: uppercase;
  text-decoration:none;
  text-align: center;
  letter-spacing: 0;
  line-height: 36px;
	padding:.85em 1.35em;
  margin-top: 1em;
  transition: 0.2s ease all;
}

.button--outline:hover {
  border: 2px solid #FFA600;
}

.button-codepen {
  width: 100%;
  margin: 0px auto;
  position: relative;
  top: 50px;
  text-align: center;
}

.button-codepen img {
  width: 125px;
}

#Asset-31 {
  fill: #FFF;
  transition: 0.2s ease all;
}
#Asset-31:hover {
  fill: #FFE700;
}

blockquote {
  color:#D81159;
  font-size:1.5rem;
  font-family: 'Arvo', serif;
  padding: 20px 20px 20px 0;
  border-left: 0;
  /* margin: 0 0 1rem;
  padding: .5625rem 1.25rem 0 1.1875rem;
  border-left: 2px solid #D81159; */
}



/**** BODY & FORMATTING CLASSES *********************************************/
/***************************************************************************/

.content--padding {
  padding-left: .9em;
  padding-right: .9em;
}

.white {
  color: white;
}

.blue {
  color: #246AFF;
}

.big-first-letter {
  float: left;
  font-family: 'Amatic SC', cursive;
  font-size: 4.5em;
  line-height: 56px;
  padding-right: 2px;
  margin-left: -8px;
}

.padding--offset {
  padding-top: 6.4em;
}

.section__padding-bottom--zero {
  padding-bottom: 0;
}

.pos--relative {
  position: relative;
}

.z--1 {
  z-index: 1;
}

ul.social-icons {
   margin-left: 0;
}

ul.social-icons li {
   list-style-type:none;
   display:inline-block;
   padding:0 24px 0 0;
}

ul.social-icons li a img {
   height:35px;
}

h1.work__header {
  padding-top: 0px;
  font-size: 1.8em;
  line-height: 1;
  z-index: 1;
}

h1.work__header span {
  display: block;
  font-size:.425em;
  line-height: 1.8;
  position:relative;
  top: 8px;
  margin-bottom: 1.4em;
}



.work__sub-header {
  font-weight:900;
  text-transform:uppercase;
  margin-bottom: 1em;
}

ul.workflow {
  list-style-type: none;
  margin-left:0;
}

ul.workflow li {
  font-weight:900;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  padding: 6px 6px 6px 0;
}

.header--icon {
  max-width: 48px;
  margin: 2rem 8px;
}

.uppercase {
  text-transform:uppercase;
}

.workflow {
  /* padding:24px 34px; */
}

.content-break--padding {
  padding-top: 3.6em;
}

.content__margin--top {
  margin-top: 6rem;
}

.content__margin--body {
  margin: 2rem 0;
}

.larger {
  font-size:1.5rem;
}



/* Images **************************************/



/* Contact form **************************************/
.form__contact {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* padding: 1.6em; */
  /* border-radius: 24px; */
  /* background: rgba(200, 200, 200, 0.2); */
  box-shadow: none;
  overflow: hidden;
  z-index: 1;
}

.form__contact input {
  box-shadow: none;
  width: 100%;
  color: #000;
}

.form__contact textarea {
  color: #000;
  width:100%;
  resize:none;
}

.form__contact p {
  font-size: 14px;
  text-align: center;
}

.form__contact h1 {
  padding-bottom:18px;
  color: #ED1E79;
}

.group__input--float {
  position: relative;
  margin-bottom: 35px;
}

.input--float {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ED1E79;
  background: transparent;
  box-shadow: none;
}

.input--float:focus {
  background: transparent;
  outline: none;
  border-bottom: 1px solid #ED1E79;
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none;
}

/* Foundation Overrides ======================================= */
label {
  color: #ED1E79;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

/* active state */
.input--float:focus ~ label, .input--float:valid ~ label {
  top: -24px;
  font-size: 14px;
  color: #ED1E79;
}






/**** LOGO HEADER *************************************************************/
/*****************************************************************************/





/**** NAV HEADER ************************************************************/
/***************************************************************************/





/**** OVERRIDES *************************************************************/
/***************************************************************************/

.blocker {
  z-index: 2 !important;
}

.modal {
  background: rgba(255, 255, 255, 0.95);
  padding: 1.6em;
}




/**** GLOBAL QUERIES ********************************************************/
/***************************************************************************/

@media (min-width: 1024px) {
  .show-for-desktop {
    display: block !important;
  }

  .show-for-tablet-mobile {
    display: none !important
  }

  .hide-for-desktop {
    display: none !important;
  }

  .hide-for-tablet-mobile {
    display: block !important
  }
}


@media (min-width: 0px) and (max-width: 1023px) {
  /* .content--padding {
    padding-left: 1.8em;
    padding-right: 1.8em;
  } */

  .header--padding {
    padding-top:7.2em;
  }

  .about__photo img {
    max-width:40%;
    padding-bottom: 20px;
  }

  .show-for-desktop {
    display: none !important;
  }

  .show-for-tablet-mobile {
    display: block !important
  }

  .hide-for-desktop {
    display: block !important;
  }

  .hide-for-tablet-mobile {
    display: none !important
  }

}

.case-study--header {
  padding-bottom:0;
  margin-bottom: 4rem;
}
